.card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

  .cardface {
    position: absolute;
    backface-visibility: hidden;
  }

  .back {
    transform: rotateY(180deg);
  }

  &.flipped {
    transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
  }
}
